{{#each this}}

<ul class="countriesContainer">
    <h1 class="country_name">{{ name }}</h1>
    <li class="country_info">
        Capital : {{ capital }}
    </li>
    <li class="country_info"> Population: {{ population }}</li>
    <li class="country_info">Languages:
        <ul>
            {{#each languages }}
            <li class="country_lang"> {{name}}</li>
            {{/each}}
        </ul>

    </li>
</ul>
<image src={{flag}} alt="Country Flag" class="country_flag"></image>
{{/each}}